<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto qui provident at ex, laboriosam excepturi deserunt aperiam nobis, suscipit debitis tempore vel itaque natus est quibusdam porro sunt velit labore a sit quas quos? Ratione maiores molestias enim perspiciatis sunt?</p>
    </div>
</div>