<div class="jumbotron mt-4">
    <h1>APP de Notas desarrollada con NodeJS y MongoDB</h1>

    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam unde quos deserunt amet quod, aliquam hic ab ad blanditiis nesciunt, pariatur aut deleniti debitis dignissimos rerum, porro tenetur? Necessitatibus, ullam!
    </p>
   
</div>